<h1>Hello, man!</h1>

<% tacos = ["Steak", "Chicken Tinga", "Veggie", "Al Pastor"] %>


<p>We have <%= tacos.length %> tacos: </p>

<ul>

<li>Steak</li>
<li>Chicken Tinga</li>
<li>Veggie</li>
<li>Al Pastor</li>

</ul>